<launch> 

<!-- <node pkg="tf" type="static_transform_publisher" name="world" args="0 0 0 0 0 0 /ar_marker_1 /world 100"/> -->
<!-- <node pkg="tf" type="static_transform_publisher" name="world" args="0 0 0 0 0 0 /ar_marker_4 /world 100"/> -->
<!-- <node pkg="tf" type="static_transform_publisher" name="world" args="0 0 0 0 0 0 /ar_marker_9 /world 100"/>-->
<node pkg="tf" type="static_transform_publisher" name="world" args="0 0 0 0 0 0 /ar_marker_6 /world 100"/>

<node pkg="particle_filter" type="main_static" name="main_static" output="screen" />

</launch>
