<launch> 

<!-- node pkg="tf" type="static_transform_publisher" name="world" args="0 0 0 0 0 0 /world /something 100"/ -->
<node pkg="tf" type="static_transform_publisher" name="world" args="0 0 0 0 0 0 /ar_marker_4 /world 100"/>
<node pkg="particle_filter" type="articulation_particles" name="articulation_particles" output="screen" />

</launch>
